# CRAFT ENVIRONMENT
.env*

# COMPOSER
*/vendor/*

# CRAFT STORAGE
*/storage/*
!*/storage/.gitkeep

# LOCAL ASSETS
/cms/web/assets/*
/cms/config/redactor/plugins
/cms/web/imager/*
/cms/web/jitter/*
/cms/web/cpresources/*
/cms/web/dist/*
/cms/web/mix-manifest.*
/cms/web/sw.*
/cms/web/.user.ini